---
layout: main_section
title: My Projects
page_title: 'My Projects'
---
<div class="card-columns">
    {% assign projects = site.projects | sort: "date" | reverse %}
    {% for project in projects %}
    <div class="card">
        {% if project.file %}
        <img src="/assets/img/projects/{{project.file}}" alt="project image">
        {% endif %}
        <div class="card-body">
            {% for type in project.type %}
            <strong class="d-inline-block mb-2 text-primary">{{type}}</strong>
            {% if forloop.last == false %}|{% endif %}
            {% endfor %}
            <h3 class="card-title">{{ project.title }} <span
                    class="badge badge-secondary text-uppercase" style="line-height: 1;font-size:23px;"
            >{{ project.language }}</span>
            </h3>
            <div class="card-subtitle text-muted">{{ project.date | date_to_string }}</div>
            <a href="{{ project.url }}" class="btn btn-warning mt-3" title="{{ project.title }}">See Detail
                :star:</a>
        </div>
    </div>
    {% endfor %}
</div>
