---
layout: main_section
title: Web Publishing Projects
page_title: Web Publishing Projects
---
<div class="row">
    {% assign projects = site.projects | where_exp: "item", "item.type contains 'Web Publishing'" | sort: "date" %}
    {% for project in projects %}
    <div class="col-md-12 text-center">
        <div class="card">
            <div class="card-body">
                {% for type in project.type %}
                <strong class="d-inline-block mb-2 text-primary">{{type}}</strong>
                {% if forloop.last == false %}|{% endif %}
                {% endfor %}
                <h2 class="card-title">{{ forloop.index }}. {{ project.title }} <span
                        class="badge badge-secondary text-uppercase" style="line-height: 1;font-size:33px;"
                >{{ project.language }}</span></h2>
                <div class="card-subtitle text-muted">{{ project.date | date_to_string }}</div>
                <a href="{{ project.url }}" class="btn btn-warning mt-3" title="{{ project.title }}">See Detail
                    :star2:</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
