---
layout: main_section
title: My Skills
page_title: 'My Skills :computer:'
line_height: 20
---
<div class="card">
    <div class="card-body">
        <ul class="nav nav-pills nav-pills-primary nav-pills-icons" style="display:flex;justify-content:center;"
            role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#frontend" role="tab" data-toggle="tab">
                    <i class="tim-icons icon-laptop"></i>
                    Frontend
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#backend" role="tab" data-toggle="tab">
                    <i class="tim-icons icon-settings-gear-63"></i>
                    Backend
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#database" role="tab" data-toggle="tab">
                    <i class="tim-icons icon-single-copy-04"></i>
                    Database
                </a>
            </li>
        </ul>
        <div class="tab-content tab-space">
            <div class="tab-pane active" id="frontend">
                <div>
                    <h1>Frontend</h1>
                </div>
                {% assign frontend = site.skills | where_exp: "item", "item.type contains 'frontend'" | sort: "percents"
                | reverse %}
                {% for skill in frontend %}
                <span class="progress-badge">{{skill.name}}</span>
                <div class="progress mb-2 mt-1" style="height: {{page.line_height}}px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.percents}}" aria-valuemin="0"
                         aria-valuemax="100" style="width: {{skill.percents}}%;">
                        <span class="progress-value">{{skill.percents}}%</span>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="tab-pane" id="backend">
                <div>
                    <h1>Backend</h1>
                </div>
                {% assign backend = site.skills | where_exp: "item", "item.type contains 'backend'" | sort: "percents" |
                reverse %}
                {% for skill in backend %}
                <span class="progress-badge">{{skill.name}}</span>
                <div class="progress mb-2 mt-1" style="height: {{page.line_height}}px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.percents}}" aria-valuemin="0"
                         aria-valuemax="100" style="width: {{skill.percents}}%;">
                        <span class="progress-value">{{skill.percents}}%</span>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="tab-pane" id="database">
                <div>
                    <h1>Database</h1>
                </div>
                {% assign database = site.skills | where_exp: "item", "item.type contains 'database'" | sort: "percents"
                | reverse %}
                {% for skill in database %}
                <span class="progress-badge">{{skill.name}}</span>
                <div class="progress mb-2 mt-1" style="height: {{page.line_height}}px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.percents}}" aria-valuemin="0"
                         aria-valuemax="100" style="width: {{skill.percents}}%;">
                        <span class="progress-value">{{skill.percents}}%</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
