---
layout: main_section
title: Jobs & Education
---
<div>
    <div class="mt-5">
        <h1>Jobs :wrench:</h1>
    </div>
    {% assign jobs = site.jobs | sort: 'from' | reverse %}
    {% for job in jobs %}
    <div class="card {% if forloop.index == 1 %}bg-info{% endif %}">
        <div class="card-body">
            <h3 class="card-title">{{job.name}}</h3>
            <p class="card-subtitle">
                <b>{{ job.type }}</b> -
                {{ job.from | date: "%B %Y" }} -
                {% if job.to %}
                {{ job.to | date: "%B %Y" }}
                {% else %}
                until now
                {% endif %}
            </p>
            <p class="card-text">
                {{ job.content }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
<div>
    <div class="mt-5">
        <h1>Education :notebook_with_decorative_cover:</h1>
    </div>
    {% assign schools =  site.schools | sort: 'from' | reverse %}
    {% for school in schools %}
    <div class="card {% if forloop.index == 1 %}bg-info{% endif %}">
        <div class="card-body">
            <h3 class="card-title">{{school.name}}</h3>
            <p class="card-subtitle">
                <b>{{ school.type }}</b> -
                {{ school.from | date: "%B %Y" }} -
                {% if school.to %}
                {{ school.to | date: "%B %Y" }}
                {% else %}
                until now
                {% endif %}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
